.Button {
	display: inline-block;
	height: $space-md;
	padding: $space-xs $space;
	margin-right: $space-xs;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .75rem;
	letter-spacing: .05rem;
	font-weight: bold;
	background-color: transparent;
	color: $color-primary;
	border: 1px solid $color-primary;
	outline: none;
	cursor: pointer;
	transition: all .2s;

	&:last-child {
		margin-right: 0;
	}

	&:visited, {
		color: $color-white;
	}

	&:hover,
	&:focus {
		background-color: $color-neutral-lighter;
	}
}

.Button--primary {
	background-color: $color-primary;
	border-color: $color-primary;
	color: $color-black;

	&:hover, &:focus {
		background-color: $color-primary-light;
	}
}

.Button--secondary {
	background-color: $color-secondary;
	border-color: $color-secondary;
	color: $color-black;

	&:hover, &:focus {
		background-color: $color-secondary-light;
	}
}

.Button--neutral {
	background-color: $color-neutral;
	border-color: $color-neutral;
	color: $color-black;

	&:hover, &:focus {
		background-color: $color-neutral-light;
	}
}