// Textbox style inputs
.Form {
	fieldset {
		border: none;
		padding: 0;
	}

	legend {
		font-size: 1.3em;
	}

	button,
	input[type=submit],
	input[type=reset],
	input[type=button] {
		@extend .Button;
	}
}

.Form-field {
	margin-bottom: $space-sm;

	label {
		display: inline-block;
  	max-width: 100%;
	}
}

// Text inputs
.Form-inputs {
	input[type='text'],
	input[type='search'],
	input[type='tel'],
	input[type='url'],
	input[type='email'],
	input[type='password'],
	input[type='date'],
	input[type='time'],
	input[type='number'],
	textarea {
		display: block;
	  width: 100%;
	  border: 1px solid $color-neutral-light;
	  transition: border-color .2s, box-shadow .2s;

	  &:focus {
	  	border-color: $color-primary;
			outline: 0;
	  }
	}

	// Radios
	input[type='checkbox'],
	input[type='radio'] {
		margin-right: $space-xs;
		vertical-align: middle;
		outline: none;
	}
}

.Form--inline {
	.Form-field {
		@include bp(md) {
			display: inline-block;
			margin-right: $space-sm;
			vertical-align: text-bottom;
		}
	}
}

.Form-inputs--inline {
	label {
		margin-right: $space;
		vertical-align: middle;
	}

	input {
		margin: 0 0 .3em;
	}
}