// Basic grid
.Grid {
  @include Grid();
}

// Grid with spacing
.Grid--spaced {
  @include GridXY();
}

// Grid with horizontal spacing
.Grid--spacedX {
  @include GridX();
}

// Grid with vertical spacing
.Grid--spacedY {
  @include GridY();
}

// Modifier: center align all grid cells
.Grid--alignCenter {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

// Modifier: right align all grid cells
.Grid--alignEnd {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

// Modifier: middle-align grid cells
.Grid--alignMiddle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

// Modifier: bottom-align grid cells
.Grid--alignBottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

// Modifier: allow cells to equal distribute width
.Grid--fit {
  .Grid-cell {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
  }
}

// Align this cell to the right
.Grid-cell--alignRight {
  margin-left: auto;
}

// Center this cell within remaining space
.Grid-cell--center {
  margin: 0 auto !important;
}

// Make this cell fill remaining space
.Grid-cell--auto {
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 !important;
  flex: 1 !important;
}

// Remove padding from the bottom of this cell
.Grid-cell--fullHeight {
  padding-bottom: 0 !important;
}

// Add grid size classes
@include GridSizes();

@include bp(sm) {
  @include GridSizes(-sm-);
}

@include bp(md) {
  @include GridSizes(-md-);
}

@include bp(lg) {
  @include GridSizes(-lg-);
}

@include bp(xl) {
  @include GridSizes(-xl-);
}