.Message {
	padding: $space-sm $space;
	display: block;
	margin-bottom: $space;
	background-color: $color-neutral-light;
	color: $color-neutral-darker;

	a {
		color: darken($color-neutral, 50%);
		text-decoration: underline;
	}

	&--info {
		background-color: lighten($color-message-info, 25%);
		color: darken($color-message-info, 30%);

		a {
			color: darken($color-message-info, 50%);
		}
	}

	&--success {
		background-color: lighten($color-message-success, 25%);
		color: darken($color-message-success, 30%);

		a {
			color: darken($color-message-success, 50%);
		}
	}

	&--warning {
		background-color: lighten($color-message-warning, 25%);
		color: darken($color-message-warning, 30%);

		a {
			color: darken($color-message-warning, 50%);
		}
	}

	&--error {
		background-color: lighten($color-message-error, 25%);
		color: darken($color-message-error, 30%);

		a {
			color: darken($color-message-error, 50%);
		}
	}
}
