// Create a basic grid
@mixin Grid($cellSelector: ".Grid-cell") {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: left;
	display: flex;
	flex-flow: row wrap;

	#{$cellSelector} {
		box-sizing: inherit;
		vertical-align: top;
		width: 100%;
		min-width: 0;
		float: left;
	}
}

// Create a grid spaced on the X axis
@mixin GridX($spaceX: $space, $selector: ".Grid-cell") {
	@include Grid($selector);
	margin-left: -$spaceX;

	#{$selector} {
		padding-left: $spaceX;
	}
}

// Create a grid spaced on the Y axis
@mixin GridY($spaceY: $space, $selector: ".Grid-cell") {
	@include Grid($selector);

	#{$selector} {
		padding-bottom: $spaceY;
	}
}

// Create a grid spaced on both X and Y axis
@mixin GridXY($spaceX: $space, $spaceY: $spaceX, $selector: ".Grid-cell") {
	@include Grid($selector);
	margin-left: -$spaceX;

	#{$selector} {
		padding-left: $spaceX;
		padding-bottom: $spaceY;
	}
}

@mixin GridSizes($prefix: "-") {
	@for $a from 1 through $grid-columns {
		@for $b from 1 through $grid-columns {
			@if $b < $a {
				.Grid .u#{$prefix}size#{$b}of#{$a} {
					@include Size($b, $a)
				}
			}
		}
	}
}